.carimagelist {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.imageone {
    padding: 8px 0px 8px 0px;
    width: 25%;
}
.row.cardetailcard {
    margin-top: 25px;
}
button.bidplace {
    background: #4dbc15;
    border: none;
    font-size: 13px;
    color: #fff;
    height: 30px;
    margin-top: 10px;
    width: 120px;
}
.detailcarname {
    font-size: 23px;
    font-weight: 600;
    margin-top: 15px;
}
.bidmessage {
    color: red;
    font-size: 13px;
    font-style: italic;
    margin-bottom: 10px;
}
p.endingin {
    color: #4dbc15;
    font-size: 13px;
}
.bidcount {
    font-weight: 600;
}