.textfield {
  position: relative;
  padding: 5px 10px;
  border: 1px solid #155c8f;
  border-radius: 5px;
  box-shadow: none;
}
span {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  top: 8px;
  left: 24px;
  color: #0a0c1d;
  padding: 0 5px;
}
.textfield:focus {
  border: 1px solid #0d47a1;
}
input:focus ~ span,
input:not(:focus):valid ~ span {
  top: -15px;
}
.textfield,
span {
  transition: ease-in-out 0.2s all;
  -webkit-transition: ease-in-out 0.2s all;
  -moz-transition: ease-in-out 0.2s all;
  -o-transition: ease-in-out 0.2s all;
}
