.usercarlist {
    box-shadow: 2px 1px 9px 2px #f1f1f1;
    margin: 20px 0px 20px 0px;
    padding: 20px;
}   
.caruserbidcol-1 {
    width: 30%;
}
.caruserbidcol-2 {
    width: 60%;
}   
.caruserbidrow {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e2e2e2;
}   
button.managebtn {
    background: #4dbc15;
    border: none;
    font-size: 13px;
    color: #fff;
    height: 30px;
    margin-top: 4px;
    width: 120px;
} 
.caruserbidrow:nth-child(3) {
    filter: grayscale(100%);
}  
.circleimg {
    height: 150px;
    width: 150px;
}
.profilename {
    text-align: center;
    border-bottom: 1px solid #e2e2e2;
}  
h2.username {
    font-size: 28px;
    padding-top: 20px;
    font-weight: 700;
}         