.staticdetails {
  margin-top: 20px;
}
li.staticlist {
  list-style: none;
  font-size: 18px;
  line-height: 35px;
}
i.fa.fa-check {
  color: #4dbc15;
}
h4.StaticHeading {
  font-weight: 600;
  margin: 20px 0px;
}
h6.SmallHeading {
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0px;
}
h3.process-heading {
  font-weight: 600;
  margin: 30px 0px;
}
